<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8"/>
		<title>Home</title>
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
		<link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css"/>
		<link rel="stylesheet" href="../CSS/home.css"/>
	</head>
	<body>
		<header>
			<div class="container">
				<h1>Logo</h1>
			</div>
		</header>

		<div class="container">
			<section class="main row">
				<article class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
					<div id="carousel-1" class="carousel slide" data-ride="carousel" style="margin-top:10%; ">
						<!-- Indicadores -->
						<ol class="carousel-indicators">
							<li data-target="#carousel-1" data-slide-to="0" class="active"></li>
							<li data-target="#carousel-1" data-slide-to="1"></li>
							<li data-target="#carousel-1" data-slide-to="2"></li>
							<li data-target="#carousel-1" data-slide-to="3"></li> 
						</ol>
						 
						<!-- contenedor de los slide-->
						<div class="carousel-inner" role="listbox">
							<div class="item active">
								<img src="../slide1.jpg" alt="" class="img-responsive"/>
							</div>
							<div class="item">
								<img src="../slide2.jpg" alt="" class="img-responsive"/>
							</div>
							<div class="item">
								<img src="../slide3.jpg" alt="" class="img-responsive"/>
							</div>
							<div class="item">
								<img src="../slide4.jpg" alt="" class="img-responsive"/>
							</div>
						</div>
						<a href="#carousel-1" class="left carousel-control" role="button" data-slide="prev">
							<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
						</a>
						<a href="#carousel-1" class="right carousel-control" role="button" data-slide="next">
							<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
						</a>
					</div>
					
				</article>
				<aside class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
					<h3 class="text-muted">Login</h3>
					<form action="" class="form-horizontal">
						<div class="form-group">
							<div class="input-group">
								<label class="sr-only" for="correo">Correo:</label>
								<div class="input-group-addon">@</div>
								<input name="logCorreo" class="form-control" id="correo" type="email" placeholder="Correo:">
							</div>
						</div>
						<div class="form-group">
							<label class="sr-only" for="nombre">Password:</label>
							<input name="logContrasena" class="form-control" id="password" type="password" placeholder="Password:"> 
						</div>
						<div class="checkbox">
							<label>
								<input type="checkbox" name="" id="">Recuerdame
							</label>
						</div>
						
						<button class="btn btn-info">Loguear</button>
					</form>
					
					<h3 class="text-muted">Registrarse</h3>
					<form action="" class="form-horizontal">
						<div class="form-group">
							<label class="sr-only" for="nombre">Nombre:</label>
							<input name="regNombre" class="form-control" id="nombre" type="text" placeholder="Nombre:"> 
						</div>
						<div class="form-group">
							<label class="sr-only" for="nombre">Apellido:</label>
							<input name="regApellido"class="form-control" id="apellido" type="text" placeholder="Apellido:"> 
						</div>
						<div class="form-group">
							<div class="input-group">
								<label class="sr-only" for="correo">Correo:</label>
								<div class="input-group-addon">@</div>
								<input name="regCorreo" class="form-control" id="correo" type="email" placeholder="Correo:">
							</div>
						</div>
						<div class="form-group">
							<label class="sr-only" for="nombre">Password:</label>
							<input name="regContrasena" class="form-control" id="password" type="password" placeholder="Password:"> 
						</div>
						<div class="form-group">
							<label class="sr-only" for="nombre">Confirmar Password:</label>
							<input name="regConfirmaContrasena" class="form-control" id="password" type="password" placeholder="Confirme su Password:"> 
						</div>
						
						<button class="btn btn-info">Registrarse</button>
					</form>
				</aside>
			</section>
		</div>
		<br/>
		<br/>
		<footer>
			<ul class="listaSinVineta">
				<li>
					<span>©BirSocial</span>
				</li>
				<li>
					<a href="">Términos y Condiciones</a>
				</li>
				<li>
					<a href="">Contacto</a>
				</li>
			</ul>
		</footer>		
		<script src="../bootstrap/js/jquery.js"></script>
		<script src="../bootstrap/js/bootstrap.min.js"></script>
	</body>
</html>